<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.phonegap.plugins.appinfo" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>phonegap-plugin-appinfo</name>
    <js-module name="plugin-appinfo" src="www/plugin-appinfo.js">
        <clobbers target="appInfo" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="appinfo">
                <param name="ios-package" value="CDVAppInfo" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAppInfo.h" />
        <source-file src="src/ios/CDVAppInfo.m" />
    </platform>
	<platform name="android">
    	<config-file parent="/*" target="res/xml/config.xml">
        	<feature name="appinfo">
            	<param name="android-package" value="com.phonegap.plugins.CDVAppInfo" />
        	</feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/CDVAppInfo.java" target-dir="src/com/phonegap/plugins/" />
    </platform>
</plugin>